actdiag==3.0.0
alabaster==0.7.16
anyio==4.4.0
attrs==21.4.0
Babel==2.15.0
blockdiag==3.0.0
breathe==4.35.0
cairocffi==1.7.1
CairoSVG==2.5.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
commonmark==0.9.1
cssselect2==0.7.0
defusedxml==0.7.1
docutils>=0.20, <0.22
funcparserlib==2.0.0a0
h11==0.14.0
idna==3.7
imagesize==1.4.1
iniconfig==2.0.0
Jinja2==3.1.4
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.1
mdurl==0.1.0
mistune==0.8.4
myst-parser==3.0.1
nwdiag==2.0.0
packaging==24.1
pillow==10.4.0
pluggy==1.5.0
pycparser==2.22
Pygments==2.18.0
pyparsing==3.0.7
pytest==8.3.1
pytz==2021.3
PyYAML==6.0.1
recommonmark==0.7.1
requests==2.32.3
seqdiag==3.0.0
setuptools==71.1.0
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
Sphinx>=7.4, <8
sphinx-autobuild==2024.4.16
sphinx-markdown-tables==0.0.17
sphinx-notfound-page==0.8.3
sphinx-rtd-theme==2.0.0
sphinx_selective_exclude==1.0.3
sphinxcontrib-actdiag==3.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-blockdiag==3.0.0
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-seqdiag==3.0.0
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-svg2pdfconverter==1.2.0
sphinxcontrib-wavedrom==3.0.4
starlette==0.37.2
svgwrite==1.4.3
tinycss2==1.3.0
typing_extensions==4.1.1
urllib3==2.2.2
uvicorn==0.30.1
watchfiles==0.22.0
wavedrom==2.0.3.post3
webcolors==24.6.0
webencodings==0.5.1
websockets==12.0
xcffib==1.5.0
sphinx-copybutton==0.5.2

Sphinx>=7.4, <8
